<div class="card-body">
    <div class="row mb-1">
        <div class="col-sm-9">
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Mã lớp</th>
                        <th scope="col">Mã học phần</th>
                        <th scope="col">Ngày thi</th>
                        <th scope="col">Phòng thi</th>
                    </tr>
                </thead>
                <!-- | paginate: { itemsPerPage: 10,
                    currentPage: page,
                     totalItems:totalLength } |filter:searchText -->
                <tbody>
                    <tr *ngFor="let i = index;let item of lichthis">
                        <td>{{ i + 1 }}</td>
                        <td>{{item.malop}}</td>
                        <td>{{item.tenhp}}</td>
                        <td>{{item.ngaythi | date:"dd - MM - yyyy"}}</td>
                        <td>{{item.phongthi}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
     

    </div>
</div>