<div class="hold-transition login-page">

    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
          <!-- <div class="card-header text-center">
            Đăng nhập tài khoản sinh viên
          </div> -->
          <div class="card-body">
            <p class="login-box-msg">Đăng nhập tài khoản</p>
      
            <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
                <div class="input-group mb-3">

                    <input type="number" class="form-control" formControlName="masv" placeholder="nhập ma sv">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>

                </div>
                <div class="input-group mb-3">
                    <span class="text-danger" role="alert"
                        *ngIf="formLogin.controls.masv?.errors?.required && formLogin.controls.masv?.touched">
                        Mã sinh viên không được để trống!
                    </span>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control"  formControlName="matkhau" placeholder="matkhau">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group mb-3">
                        <span class="text-danger" role="alert"
                            *ngIf="formLogin.controls.matkhau?.errors?.required && formLogin.controls.matkhau?.touched">
                            Mật khẩu không được để trống!
                        </span>
                        <span class="text-danger" role="alert"
                            *ngIf="formLogin.controls.matkhau?.errors?.minlength && formLogin.controls.matkhau?.touched">
                            Mật khẩu phải ít nhất 6 kí tự !
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Nhớ mật khẩu
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" [disabled]="!formLogin.valid"  class="btn btn-primary btn-block">Đăng nhập</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
      
         
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
</div>
