              <!-- Main content -->
              <div class="content">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"> <b>NỘI QUY HỌC TẬP</b>  </h5>
                          
                          
                          <p class="card-text">
                            &nbsp;&nbsp;&nbsp;&nbsp; Điều 1.Trang phục , tác phong.         
                          </p>
                          <p class="card-text">
                            &nbsp;&nbsp;&nbsp;&nbsp; Điều 2.Nề nếp học tập.          
                          </p>
                          <p class="card-text">
                            &nbsp;&nbsp;&nbsp;&nbsp; Điều 3.Thi , kiểm tra.        
                          </p>
                          <p class="card-text">
                            &nbsp;&nbsp;&nbsp;&nbsp; Điều 4.Trật tự kỷ cương trong sinh hoạt.          
                          </p>
                          <p class="card-text">
                            &nbsp;&nbsp;&nbsp;&nbsp; Điều 5.Bảo vệ tài sản công, giữ gìn vệ sinh môi trường, an ninh trật tự.        
                          </p>
          
                          <!-- <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a> -->
                        </div>
                      </div>
          
                      <div class="card card-primary card-outline">
                        <div class="card-body">
                          <h5 class="card-title"> <b>QUY TẮC ỨNG XỬ CỦA SINH VIÊN TRƯỜNG ĐẠI HỌC SƯ PHẠM KỸ THUẬT HƯNG YÊN</b> </h5>
          
                          <p class="card-text">
                            &nbsp;&nbsp;&nbsp;&nbsp; Điều 1.Ứng xử với bạn bè.         
                          </p>
                          <p class="card-text">
                            &nbsp;&nbsp;&nbsp;&nbsp; Điều 2.Ứng xử đối với thầy cô, cán bộ viên chức, người lao động trong Nhà &nbsp;&nbsp;&nbsp;&nbsp;trường và khách đến trường.          
                          </p>
                          <p class="card-text">
                            &nbsp;&nbsp;&nbsp;&nbsp; Điều 3.Ứng xử với gia đình.        
                          </p>
                          <p class="card-text">
                            &nbsp;&nbsp;&nbsp;&nbsp; Điều 4.Ứng xử nơi sinh hoạt, nơi công cộng.          
                          </p>
                        
                          <!-- <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a> -->
                        </div>
                      </div><!-- /.card -->
                    </div>
                    <!-- /.col-md-6 -->

                    <!-- VIDEO CÓ CSS -->
                    <!-- <div class="col-md-4 middle">
                        <div style="border:1px solid #dcdcdc;border-top:5px solid #c64646">
                            <div class="box-header">
                                <span><i class="fa fa-video-camera fa-2" aria-hidden="true"></i>&nbsp;Video hướng dẫn</span>
                            </div>
                            <div class="news events" id="" style="min-height:328px">
                                <div id="home">
                                    <style>
                                        .card__media {
                                            display: block;
                                            height: auto;
                                            width: 100%;
                                        }
                
                                        .embed-container {
                                            position: relative;
                                        }
                
                                        .card--16-9 {
                                            height: 0;
                                            padding-bottom: 56.25%;
                                            width: 100%;
                                        }
                                    </style>
                                    <div class="card__media">
                                        <div class="embed-container  card--16-9">
                                            <iframe src="https://www.youtube.com/embed/NZ03vaNSCLI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" style="width:100%;height:220px;"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div> -->
                    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
                    <div class="col-lg-6">
                      <div class="card">
                        <div class="card-header">
                          <h5 class="card-title m-0"> <b>VIDEO HƯỚNG DẪN</b> </h5>
                        </div>

                        <div class="card__media">
                            <div class="embed-container  card--16-9">
                                <iframe src="https://www.youtube.com/embed/NZ03vaNSCLI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" style="width:100%;height:220px;"></iframe>
                            </div>
                        </div>
                        <!-- <div class="card-body">
                          <h6 class="card-title">Special title treatment</h6>
          
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
          
                      <div class="card card-primary card-outline">
                        <div class="card-header">
                          <h5 class="card-title m-0">Featured</h5>
                        </div>
                        <div class="card-body">
                          <h6 class="card-title">Special title treatment</h6>
          
                          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                    </div>
                    <!-- /.col-md-6 -->
                  </div>
                  <!-- /.row -->
                </div><!-- /.container-fluid -->
              </div>
