<div class="hold-transition login-page">

    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <a  class="h1"><b>Admin</b>LTE</a>
          </div>
          <div class="card-body">
            <p class="login-box-msg">Đăng nhập tài khoản</p>
      
            <form [formGroup]="formLogin" (ngSubmit)="onLogin()">
                <div class="input-group mb-3">

                    <input type="text" class="form-control" formControlName="username" placeholder="nhập tài khoản">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>

                </div>
                <div class="input-group mb-3">
                    <span class="text-danger" role="alert"
                        *ngIf="formLogin.controls.username?.errors?.required && formLogin.controls.username?.touched">
                        Tài khoản không được để trống!
                    </span>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control"  formControlName="password" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group mb-3">
                        <span class="text-danger" role="alert"
                            *ngIf="formLogin.controls.password?.errors?.required && formLogin.controls.password?.touched">
                            Mật khẩu không được để trống!
                        </span>
                        <span class="text-danger" role="alert"
                            *ngIf="formLogin.controls.password?.errors?.minlength && formLogin.controls.password?.touched">
                            Mật khẩu phải ít nhất 6 kí tự !
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Nhớ mật khẩu
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" [disabled]="!formLogin.valid"  class="btn btn-primary btn-block">Đăng Nhập</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
      
            <div class="social-auth-links text-center mt-2 mb-3">
              <a href="#" class="btn btn-block btn-primary">
                <i class="fab fa-facebook mr-2"></i> Đăng nhập bằng Facebook
              </a>
              <a href="#" class="btn btn-block btn-danger">
                <i class="fab fa-google-plus mr-2"></i> Đăng nhập bằng Google+
              </a>
            </div>
            <!-- /.social-auth-links -->
      
            <p class="mb-1">
              <a href="forgot-password.html">Quên mật khẩu</a>
            </p>
          
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
</div>
